form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 1em;


}

input {
    font-size: 12pt;
    padding: 5px;
    width: 200px;
}

label {
    font-size: 0.9em;
}

.error {
    color: red;
    width: 200px;
    text-align: center;
}